# =====================
# .NET
# =====================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# =====================
# Rider
# =====================
.idea/
*.iml

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs / temp
# =====================
*.log

# =====================
# Secrets
# =====================
*.env
*.env.*

# =====================
# PgSafe
# =====================
backups/
pgsafe.yml